* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* HEADER!!!  */

header .content {
    height:70px;
}


/* MAIN!!!!  */

/* BOX 1 */
main .box-1 {
    background-color: brown;
}

main .box-1 .content {
    height:200px;
}

/* BOX 2 */
main .box-2 {
    background-color:bisque
}

main .box-2 .content {
    height:150px;
    background-color: brown;
}

/* BOX 3 */
main .box-3 {
    background-color:brown;
}

main .box-3 .content {
    height:150px;
    background-color: bisque;
}

/* BOX 3 */
main .box-4 {
    background-color:bisque;
}

main .box-4 .content {
    height:150px;
    background-color: brown;
}


/* FOOTER!!!!!!! */

/* BOX 5 */
footer .box-5 {
    background-color:green;
}

footer .box-5 .content {
    height:80px;
    background-color: blue;
}