* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* HEADER!!!  */

header .content {
    height:70px;
}


/* MAIN!!!!  */

main .box-1 {
    background-color: brown;
}

main .box-1 .content {
    height:200px;
}